# Importing all the Packages

In [3]:
import os
import pandas as pd
import numpy as np
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

### Reading the CSV file

In [4]:
df = pd.read_csv('Europe_IT_Salary_Survery.csv')
#df = pd.read_csv('3_years_Survey_excel_forgery.csv')

In [5]:
#Displaying the first 5 rows
df.head()

,Year,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Ð¡ontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,2020,26.0,Male,Munich,Software Engineer,5.0,3.0,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000.0,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,2020,26.0,Male,Berlin,Backend Developer,7.0,4.0,Senior,Ruby,NaN,...,5000.0,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,2020,29.0,Male,Berlin,Software Engineer,12.0,6.0,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000.0,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,2020,28.0,Male,Berlin,Frontend Developer,4.0,1.0,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,2020,37.0,Male,Berlin,Backend Developer,17.0,6.0,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

# Data Cleaning and Preparation

In [6]:
#Checking Null Values Count
df.isnull().sum()

Year                                                                                                                          0
Age                                                                                                                         227
Gender                                                                                                                       24
City                                                                                                                         29
Position                                                                                                                     35
Total years of experience                                                                                                    49
Years of experience in Germany                                                                                             1787
Seniority level                                                                                                              49
Your main technology / programming language                                                                                   0
Other technologies/programming languages you use often                                                                     1901
Yearly brutto salary (without bonus and stocks) in EUR                                                                       16
Yearly bonus + stocks in EUR                                                                                               1691
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                    903
Annual bonus+stocks one year ago. Only answer if staying in same country                                                   2078
Number of vacation days                                                                                                       0
Employment status                                                                                                             0
Ð¡ontract duration                                                                                                            0
Main language at work                                                                                                        36
Company size                                                                                                                 47
Company type                                                                                                                 91
Have you lost your job due to the coronavirus outbreak?                                                                       0
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                          2602
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR    2538
dtype: int64

# Renaming Columns

In [7]:
df2=df.rename(columns={"Year":"Year_of_Response",
                       "Your main technology / programming language":"Primary_Skillset",
                       "Yearly brutto salary (without bonus and stocks) in EUR":"Salary_Without_Incentives",
                       "Yearly bonus + stocks in EUR":"Annual_Incentives",
					   "Position ":"Position",
					   "Total years of experience":"Years_of_Experience",
					   "Main language at work":"Communication Language",
                       "Ð¡ontract duration":"Contract_Duration",
                       "Have you lost your job due to the coronavirus outbreak?":"Unemployed_CovidOutbreak"})

# Dropping Columns

In [8]:
df2=df2.drop(['Years of experience in Germany',
         'Other technologies/programming languages you use often',
         'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
         'Annual bonus+stocks one year ago. Only answer if staying in same country',
         'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
         'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],axis=1)

In [9]:
df2.isnull().sum()

Year_of_Response                0
Age                           227
Gender                         24
City                           29
Position                       35
Years_of_Experience            49
Seniority level                49
Primary_Skillset                0
Salary_Without_Incentives      16
Annual_Incentives            1691
Number of vacation days         0
Employment status               0
Contract_Duration               0
Communication Language         36
Company size                   47
Company type                   91
Unemployed_CovidOutbreak        0
dtype: int64

# Dropping Null Values

In [10]:
df3= df2.dropna(subset=['Age','Gender','City','Position','Years_of_Experience','Seniority level'])

In [11]:
df3.isnull().sum()

Year_of_Response                0
Age                             0
Gender                          0
City                            0
Position                        0
Years_of_Experience             0
Seniority level                 0
Primary_Skillset                0
Salary_Without_Incentives       1
Annual_Incentives            1481
Number of vacation days         0
Employment status               0
Contract_Duration               0
Communication Language         11
Company size                   19
Company type                   47
Unemployed_CovidOutbreak        0
dtype: int64

# Dropping Null Values

In [12]:
df4= df3.dropna(subset=['Salary_Without_Incentives','Communication Language','Company size','Company type','Company type'])

# Filling Values with 0

In [15]:

df4["Annual_Incentives"]=df4['Annual_Incentives'].fillna(0)

In [16]:
df4.isnull().sum()

Year_of_Response             0
Age                          0
Gender                       0
City                         0
Position                     0
Years_of_Experience          0
Seniority level              0
Primary_Skillset             0
Salary_Without_Incentives    0
Annual_Incentives            0
Number of vacation days      0
Employment status            0
Contract_Duration            0
Communication Language       0
Company size                 0
Company type                 0
Unemployed_CovidOutbreak     0
dtype: int64

In [30]:
#df4['Annual_Incentives']=df4["Annual_Incentives"].astype('int')

# Adding Custom Column Total_Salary

In [17]:
df4['Total_Salary'] = df4['Salary_Without_Incentives'] + df4['Annual_Incentives']

In [18]:
df4

,Year_of_Response,Age,Gender,City,Position,Years_of_Experience,Seniority level,Primary_Skillset,Salary_Without_Incentives,Annual_Incentives,Number of vacation days,Employment status,Contract_Duration,Communication Language,Company size,Company type,Unemployed_CovidOutbreak,Total_Salary
0,2020,26.0,Male,Munich,Software Engineer,5.0,Senior,TypeScript,80000.0,5000.0,30,Full-time employee,Unlimited contract,English,51-100,Product,No,85000.0
1,2020,26.0,Male,Berlin,Backend Developer,7.0,Senior,Ruby,80000.0,0.0,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,80000.0
2,2020,29.0,Male,Berlin,Software Engineer,12.0,Lead,Javascript / Typescript,120000.0,120000.0,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,240000.0
3,2020,28.0,Male,Berlin,Frontend Developer,4.0,Junior,Javascript,54000.0,0.0,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,54000.0
4,2020,37.0,Male,Berlin,Backend Developer,17.0,Senior,C# .NET,62000.0,0.0,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,62000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2019,33.0,M,NÃ¼rnberg,Project Manager,11.0,Senior,missing,75000.0,0.0,missing,missing,missing,English,1000+,Product,No,75000.0
2935,2020,30.0,M,MÃ¼nchen,Softwareentwickler,10.0,Middle,missing,75000.0,0.0,missing,missing,missing,Deutsch,100-1000,Agency,No,75000.0
2936,2020,52.0,M,KÃ¶ln,IT Engineer,30.0,Middle,missing,63000.0,0.0,missing,missing,missing,English,1000+,Agency,No,63000.0
2940,2020,40.0,M,KÃ¶ln,Java Developer junior,1.0,Junior,missing,44000.0,0.0,missing,missing,missing,Deutsch,10-50,Product,No,44000.0
2944,2020,31.0,F,MÃ¼nchen,Pm,10.0,Senior,missing,110000.0,0.0,missing,missing,missing,English,1000+,Product,No,110000.0

# Replacing Values

In [19]:
replacement_mapping_dict = {
    "M": "Male",
    "F": "Female"
}
df4['Gender'] = df4['Gender'].replace(replacement_mapping_dict)

In [20]:
df4.to_csv(r"IT_Survey_DataCleaned.csv")